<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/render.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>My survey</h2>
            <button id="quit">quit</button>
        </div>
    </div>
    <div class="content clear" id="content">
        <div class="paper" id="paper">

        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>