<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/render.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Questionnaire Details</h2>
        <a class="return" href="/">My Questionnaires</a>
    </div>
</div>
<div class="content clear" id="content">
    <div class="paper" id="paper">
        <h3 class="title" id="title"></h3>
        <div class="paper-content" id="paper-content">
            <div id="new-question-btn"></div>
        </div>
        <div class="content-footer">
            Questionnaire Deadline: <span id="time"></span>
            <button type="button" id="submit1" class="foot-btn">Return</button>
            <button type="button" id="submit2" class="foot-btn">Generate QR Code</button>
        </div>
    </div>
</div>
<script src="../static/js/view.js"></script>

</body>
</html>